# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Flask / SQLite
instance/
2itsb.db
*.db

# Environment variables
.env

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db